*, 
*:after,
*:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: dimgray;
}
main {
	
	display: grid;
	grid-template-columns: 270px 80%;
	grid-template-areas: "search property";
	color: white;
}
#search {
	grid-area: search;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 2px solid white;
	padding-top: 20px;
	width: 270px;
	height: 100vh;
}
.metros {
	margin-left: 30px;
	display: flex;
	gap: 20px;
}
.col{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#search button {
	background-color: rgba(241, 199, 14, 0.822);
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border-color: rgba(241, 199, 14, 0.822);
	margin-bottom: 8px;
}
input {
  width: 100px;
  padding: 10px 10px;
	border-radius: 5px;
  margin: 8px 0;
  box-sizing: border-box;
}
#property {
	grid-area: property;
	margin-top: 20px;
	text-align: center;
}
.title-products {
	text-align: center;
	margin-bottom: 40px;
}
.products {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px;
	justify-items: center;
}
.card {
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	gap: 15px;
	box-shadow: 1px 1px 5px 1px #e1e2d1;
}
.card-img-top {
	width: 100%;
}
.card-title {
	font-size: 20px;
	font-weight: bold;
}
.card-details{
	display: flex;
	list-style: none;
	gap: 40px;
}
.card-text {
	width: 170px;
}
.card button{
	background-color: rgb(9, 183, 236);
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border-color: rgb(9, 183, 236);
	margin-bottom: 8px;
}
@media (max-width: 1300px) {
	.products {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 800px) {
	main {
		grid-template-columns: 100%;
		grid-template-rows: 1fr 9fr;
		grid-template-areas:
		"search"
		"property";
	}
	#search {
		width: 200px;
		height: 200px;
		border:none;
		
	}
	.products {
		grid-template-columns: repeat(1, 1fr);
		height: 75vh;
	}
}